.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: theme("colors.muted.foreground");
  pointer-events: none;
  float: left;
  height: 0;
}

.tiptap.ProseMirror {
  outline: none;
}
